

.centretext {
  text-align: center;
  margin-top: 80px;
}

#homebg {
  background-image: url('../images/Telepathy.jpg');
  background-size: 100% auto;
}

.lighttext {
  color: honeydew
}

#prediction {
  color: green;
}

#actualfav {
  color: red;
}

.inline {
  display: inline;
}

.typed-cursor{
  font-size: 0.5em;
  opacity: 0;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

.fade-in {
  animation-delay: 5s;
  animation: fadeIn ease 7s;
  -webkit-animation: fadeIn ease 7s;
  -moz-animation: fadeIn ease 7s;
  -o-animation: fadeIn ease 7s;
  -ms-animation: fadeIn ease 7s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  60% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  60% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  60% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  60% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  60% {opacity:0;}
  100% {opacity:1;}
  }