

.centretext {
  text-align: center;
  margin-top: 80px;
}

#homebg {
  background-image: url('../images/Telepathy.jpg');
  background-size: 100% auto;
}

.lighttext {
  color: honeydew
}

#prediction {
  color: green;
}

#actualfav {
  color: red;
}