

.centretext {
  text-align: center;
  margin-top: 80px;
}

#homebg {
  background-image: url('../images/Telepathy.jpg');
  background-size: 100% auto;
}

.lighttext {
  color: honeydew
}

#prediction {
  color: green;
}

#actualfav {
  color: red;
}

.inline {
  display: inline;
}

.typed-cursor{
  font-size: 0.5em;
  opacity: 0;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}