<body id='homebg'>
    <div class="container">
        <div class="row">
            <div class="column column-90 centretext lighttext">
                <h1>Mind || Eater</h1>
                <h3>Minds we have eaten so far...</h3>
                {{#each people}}
                <h4><a href="/foodis/{{id}}">{{name}}</a></h4>
                {{/each}}
            </div>
        </div>
    </div>
</body>